#roundcorner{
    border-radius:50%;
    width:60px;
    height:60px;
    margin-left:1%;
}

.container{
    width:100%;
    height:100%;
    margin: auto;
}

#content{
    padding-top:8%;
    padding-bottom:6%;
}


body {
    width: 100%;
    height: auto;
    margin: 0px;
    background-color: #e0e0e0;
}
    
header{
    background-color:rosybrown;
    position: fixed;
    top: 0px;
    width:100%;
}

footer {
        background-color:rosybrown;
        position: fixed;
        bottom: 0px;
        width:100%;
}

.login{
    float:right;
    padding:1em;
    margin-left:1%;
}

#font-normal{
    font-family: 'Ubuntu', sans-serif;
}

#font-cursive{
    font-family: 'Satisfy', cursive;
}


.social-icon{
    padding:1em;
    margin-right:2%;
}

.social_img{
    width:22px;
    height:20px;
}

a {
    text-decoration:none;
    color:black;
}

.contact{
   padding:1em;
   margin-left:2%;
}

.copyright{
    font-size:10px;
    text-align:center;
    padding:20px;
  }

  #content{
      width:100%;
      height:100%;
      margin:auto;
  }

  

  .flex{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
}
 