.city_img{
    border-radius:30%;
    padding:4%;
    width:150px;
    height:150px;
    filter:drop-shadow(10px 10px 10px grey);
   
}


#search_bar{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg'); 
    background-repeat: no-repeat;
    background-position: center; 
    height: 380px;
    text-align:center;
    background-size:100%;
    padding-top: 5%;
    padding-bottom: 1%;
}





.viewmore{
    padding-bottom: 7%;
    text-decoration: none;
    color: black;
    margin: 46%;
    padding-bottom: 7%;
  }


input{
width:30%;
background-color: #f1f1f1;
border:1px transparent;
outline:none;
border-radius: 12px;
padding: 10px;
font-size: 16px;
margin-top: 11%;
}

.box {
    padding: 10px;
    margin: 10px;
}

.text {
    position: absolute;
    font-size: 12px;
    color:#f1f1f1;
}

p{
    text-align:center;
}

#Delhi {
    left: 153px;
    top: 555px;
    
}

#Goa {
    left: 500px;
    top: 555px;
}

#Hyderabad {
    left: 812px;
    top: 555px;
}

#Kolkata {
    left: 1170px;
    top: 555px;
}



#Delhi:hover, #Goa:hover, #Hyderabad:hover, #Kolkata:hover {
    opacity: 0.3;
  }

  .flex1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
} 


  