#roundcorner{
    border-radius:50%;
    width:60px;
    height:60px;
}
.social_img{
    width:22px;
    height:20px;
}


body {
    width: 100%;
    height: auto;
    margin: 0px;
    background-color: #e0e0e0;
    }
    
.city{
    width:250px;
    height:200px;
}
.city_img{
 margin:2%;
 background-color:rgb(132,136,139);
 width:40%;
}

header,footer {
    background-color:rosybrown
    }