.city{
    width:250px;
    height:200px;
    float:left;
    
}
.city_img{
 margin:2%;
 background-color:lightgrey;
 width:40%;
}


span{
        margin-left:37%;
}    

.view{
    padding:40px;
   align-items:center;
}



.padding{
    margin-left:50%;
}

