.city{
    width:250px;
    height:200px;
}
.city_img{
 margin:2%;
 background-color:rgb(132,136,139);
 width:40%;
}


span{
        margin-left:40%;
}    

.view{
    padding:12px;
}

.flex{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}